{{log}}
{{log 'start edit.hbs'}}

{{#with itemToEdit}}
<form action="/gallery/{{id}}?_method=PUT" method="post">
  <h3>
    <label>EDIT GALLERY ITEM</label>
  </h3>
  <label>Author:
    <input type="text" name='author_name' value='{{authorName}}' id=''>
  </label>
  <br><br>
  <label>Link:
    <input type="url" name='link' value='{{link}}' id=''>
  </label>
  <br><br>
  <label>Description:
    <input type="text" name='description' value='{{description}}' id=''>
  </label>
  <br><br>
  <label>
    <input type="submit" value='Submit'>
  </label>
  <br><br>
  <a href="/">Back to Gallery Home</a>
  {{/with}}
</form>

<br><br>
{{> footer}}