{{log}}
{{log 'start gallery-detail.hbs'}}

{{!--
<script type="text/javascript">
  function affirm(form) {
    if (confirm('Do you really want to delete this beautiful image?')) {
      form.submit();
    } else {
      return false;
    }
  }
</script> --}}

<div id="logoContainer">
  <a href="/" id="logo2">_ARCHITEKT</a>
</div>

<div id="searchDiv">
  <img src="/assets/search-icon.png" alt="" id="searchIcon">
  <form action="/search" method="post">
    <input type="search" id="searchBar" placeholder="Search by Name of Image" name="name">
  </form>
</div>


{{#if login}}
<div id="detailedContainerLog">
  {{#with detailed}}
  <h1 id="detailedLine">{{description}} - {{authorName}}</h1>

  <img src={{link}} id="detailedImageLog"></img>

  <a href="/gallery/{{id}}/edit"><img src="/assets/pencil.png" alt="" id="pencilIcon"></a>

  <form method='post' action='/gallery/{{id}}?_method=DELETE' id="eraserIcon">
    <input type="image" src="/assets/eraser.png" id="eraser" onClick="affirm(this.form);" />
  </form>
  {{/with}}
</div>
{{else}}
<div id="detailedContainer">
  {{#with detailed}}
  <h1 id="detailedLine">{{description}} - {{authorName}}</h1>

  <img src={{link}} id="detailedImage"></img>
  {{/with}}
</div>
{{/if}}


<div id="gallerySidebar">
  {{#each sideGallery}}
  <div id="individual{{id}}" class="galleryItems">
    <a href="/gallery/{{id}}"><img src={{link}} class="individualImage" style="margin: 0 1vw 0 2vw"></a>
  </div>
  {{/each}}
</div>



<div id="dropdownPage" class="dropdown">
  <button class="dropbtn">&equiv;</button>
  <div class="dropdown-content">
    <a href="/gallery">Gallery</a>
    <a href="/about">About</a>
    {{#if login}}
    <a href="/gallery/new">Add Image</a>
    <a href="/auth/logout">Logout</a>
    {{else}}
    <a href="/auth/login">Login</a>
    {{/if}}
  </div>
</div>